header-main {
    text-align: center;
    padding: 17px 0;
    }
    .home-crousal img {
    max-width: 300px;
    margin: 26px 0;
    }
    ul.control-dots {
    bottom: -9px !important;
    }
    ul.thumbs.animated {
    justify-content: center;
    display: flex;
    }
    ul.thumbs.animated li {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    ul.thumbs.animated li img {
    max-width: 50px !important;
    }
    .locat_test {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #ddd;
    top: 23px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 0;
    display: none;
    }
    .howar:hover .locat_test {
    display: block;
    }
    .howar {
    position: relative;
    }
    .locat_test li a {
    color: #000;
    font-size: 16px;
    }
    .howar span {
    color: #fff;
    cursor: pointer;
    }
    .locals {
    float: right;
    
    }
    ul.navbar-nav.mr-auto li a input {
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin: 0 3px;
    }
    .locat_test li {
    width: 100%;
    text-align: left;
    }
    .locat_test li a {
    margin: 0 !important;
    }
    ul.navbar-nav.mr-auto {
    width: 100%;
    text-align: right;
    float: right;
    margin-left: auto;
    justify-content: flex-end;
    }
    .logo-img {
    margin-right: 20px;
    }
    ul.navbar-nav.mr-auto li:nth-last-child(2) a {
    margin-left: 10px;
    }
    .footer-second {
    text-align: center;
    padding: 20px 0 20px;
    }
    footer-second i {
    margin: 0 4px;
    }
    .product_cat h3 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px 0 40px;
    font-weight: bold;
    color: #000;
    }
    .product_cat .img img {
    height: auto;
    }
    .product_cat .img {
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .product_cat .categories {
    text-align: center;
    }
    .product_cat .categories a {
    color: #000;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    }
    
    .product_cat h4 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px 0 40px;
    font-weight: bold;
    
    color: #000;
    }
    .product_cat {
    padding: 40px 0 80px;
    }
    p {
    font-size: 18px;
    line-height: 30px;
    }
    .product_cat h2 {
    margin-bottom: 27px;
    }
    body h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    }
    .product_cat .img img {
    position: relative;
    left: 110px;
    top: -70px;
    }
    .product_cat .categories {
    text-align: center;
    position: relative;
    left: 110px;
    top: -70px;
    }
    .product_cat .categories a {
    color: #33c2eb;
    font-weight: 600;
    font-size: 33px;
    }
    body .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background: transparent !important; */
    }
    .custom-container {
    padding: 0 110px 0;
    width: 100%;
    }
    .home-crousal img {
    width: 100%;
    max-width: 100%;
    }
    .banner-sec {
    padding: 80px 0 260px;
    background-size: 100% 100%;
    }
    .banner-sec .row {
    align-items: center;
    }
    .banner-left-content h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 600;
    }
    body .navbar .custom-container {
    display: flex;
    align-items: center;
    }
    .banner-left-content p span {
    color: #fff;
    text-transform: uppercase;
    font-size: 31px;
    margin-right: 40px;
    }
    .banner-left-content p {
    margin-top: 20px;
    }
    .banner-right-content h3 {
    text-align: center;
    color: #fff;
    font-size: 57px;
    font-weight: 600;
    }
    .banner-right-content p {
    text-align: center;
    color: #fff;
    }
    .banner-right-content .btns {
    justify-content: center;
    display: flex;
    }
    .banner-right-content .btns a:first-child {
    background: #33c2eb;
    color: #fff;
    padding: 0px 18px;
    height: auto;
    line-height: 32px;
    font-size: 17px;
    }
    .banner-right-content .btns a:last-child {
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 18px;
    height: auto;
    line-height: 30px;
    font-size: 17px;
    margin-left: 12px;
    }
    
    body .navbar .logo-img {
    font-size: 30px;
    font-weight: 700;
    color: #3365a0;
    }
