header-main {
    text-align: center;
    padding: 17px 0;
    }
    .home-crousal img {
    max-width: 300px;
    margin: 26px 0;
    }
    ul.control-dots {
    bottom: -9px !important;
    }
    ul.thumbs.animated {
    justify-content: center;
    display: flex;
    }
    ul.thumbs.animated li {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    ul.thumbs.animated li img {
    max-width: 50px !important;
    }
    .locat_test {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #ddd;
    top: 23px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 0;
    display: none;
    }
    .howar:hover .locat_test {
    display: block;
    }
    .howar {
    position: relative;
    }
    .locat_test li a {
    color: #000;
    font-size: 16px;
    }
    .howar span {
    color: #fff;
    cursor: pointer;
    }
    .locals {
    float: right;
    
    }
    ul.navbar-nav.mr-auto li a input {
    background: #fff;
    border: 0;
    border-radius: 4px;
    margin: 0 3px;
    }
    .locat_test li {
    width: 100%;
    text-align: left;
    }
    .locat_test li a {
    margin: 0 !important;
    }
    ul.navbar-nav.mr-auto {
    width: 100%;
    text-align: right;
    float: right;
    margin-left: auto;
    justify-content: flex-end;
    }
    .logo-img {
    margin-right: 20px;
    }
    ul.navbar-nav.mr-auto li:nth-last-child(2) a {
    margin-left: 10px;
    }
    .footer-second {
    text-align: center;
    padding: 20px 0 20px;
    }
    footer-second i {
    margin: 0 4px;
    }
    .product_cat h3 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px 0 40px;
    font-weight: bold;
    color: #000;
    }
    .product_cat .img img {
    height: auto;
    }
    .product_cat .img {
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .product_cat .categories {
    text-align: center;
    }
    .product_cat .categories a {
    color: #000;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    }
    
    .product_cat h4 {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px 0 40px;
    font-weight: bold;
    
    color: #000;
    }
    .product_cat {
    padding: 40px 0 80px;
    }
    p {
    font-size: 18px;
    line-height: 30px;
    }
    .product_cat h2 {
    margin-bottom: 27px;
    }
    body h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    }
    .product_cat .img img {
    position: relative;
    left: 110px;
    top: -70px;
    }
    .product_cat .categories {
    text-align: center;
    position: relative;
    left: 110px;
    top: -70px;
    }
    .product_cat .categories a {
    color: #33c2eb;
    font-weight: 600;
    font-size: 33px;
    }
    body .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background: transparent !important; */
    }
    .custom-container {
    padding: 0 110px 0;
    width: 100%;
    }
    .home-crousal img {
    width: 100%;
    max-width: 100%;
    }
    .banner-sec {
    padding: 80px 0 260px;
    background-size: 100% 100%;
    }
    .banner-sec .row {
    align-items: center;
    }
    .banner-left-content h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 600;
    }
    body .navbar .custom-container {
    display: flex;
    align-items: center;
    }
    .banner-left-content p span {
    color: #fff;
    text-transform: uppercase;
    font-size: 31px;
    margin-right: 40px;
    }
    .banner-left-content p {
    margin-top: 20px;
    }
    .banner-right-content h3 {
    text-align: center;
    color: #fff;
    font-size: 57px;
    font-weight: 600;
    }
    .banner-right-content p {
    text-align: center;
    color: #fff;
    }
    .banner-right-content .btns {
    justify-content: center;
    display: flex;
    }
    .banner-right-content .btns a:first-child {
    background: #33c2eb;
    color: #fff;
    padding: 0px 18px;
    height: auto;
    line-height: 32px;
    font-size: 17px;
    }
    .banner-right-content .btns a:last-child {
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 18px;
    height: auto;
    line-height: 30px;
    font-size: 17px;
    margin-left: 12px;
    }
    
    body .navbar .logo-img {
    font-size: 30px;
    font-weight: 700;
    color: #3365a0;
    }
.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel-root{outline:none}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:none}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,0.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center;background:#000}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:0.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;padding:0;text-align:center;width:100%}@media (min-width: 960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

